<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="DAL.Properties.Settings.DBProject_NetConnectionString"
            connectionString="Data Source=LAPTOP-5I4BGSNV\HOANGVU;Initial Catalog=DBProject.Net;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
	<connectionStrings>
		<add name="MyConnectionString"
			connectionString="Data Source=LAPTOP-5I4BGSNV\\HOANGVU;Initial Catalog=DBProject.Net;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--<connectionStrings>
		<add name="MyDB"
			 connectionString ="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBProject.Net.mdf;Integrated Security=True;User Instance=True"
			 providerName="System.Data.SqlClient"
         />
	</connectionStrings>-->
</configuration>