<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DBProject_NetConnectionString"
            connectionString="Data Source=LAPTOP-5I4BGSNV\HOANGVU;Initial Catalog=DBProject.Net;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>